<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date, value: l(@trip.date || Date.tomorrow, format: "%d-%m-%Y"), readonly: true %>
  </div>
  <div class="field">
    <%= f.label :hour %><br />
    <%= f.text_field :hour, value: l(@trip.hour || Time.now.change({ hour: 9, min: 0 }), format: "%H:%M") %>
  </div>
  <div class="field">
    <%= f.label :starting_point %><br />
    <%= f.text_field :starting_point %>
  </div>
  <div class="field">
    <%= f.label :destination_id %><br />
    <%= f.select :destination_id, options_for_select(Destination.all.map { |d| [d.name, d.id] }, @trip.destination_id) %>
  </div>
  <div class="field">
    <%= f.label :event%><br />
    <%= f.select :event_id, options_for_select(Event.all.map { |e| [e.name, e.id] }, @trip.event_id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>