<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @trip.date %>
</p>

<p>
  <b>Hour:</b>
  <%= @trip.hour.strftime("%H:%M") %>
</p>

<p>
  <b>Starting point:</b>
  <%= @trip.starting_point %>
</p>

<p>
  <b>Destination:</b>
  <%= @trip.destination.name %>
</p>

<p>
  <b>Event:</b>
  <%= @trip.event.name %>
</p>

<div>
  <%= button_to 'Edit', edit_trip_path(@trip), class: "btn btn-warning btn-primary", style: "float: left; display: block", method: :get %>
  <%= button_to 'Back', trips_path, class: "btn btn-black btn-primary", style: "float: left; display: block; margin-left: 10px", method: :get %>
</div>
