<section class="content">
  <h1 style="font-size:40px; color: #0C0F2E; font-weight: 600; text-align: center">Listing reservations</h1><br/ ><br/ >
  <div class="row">
    <table class="table table-striped dataTable">
      <thead>
        <tr class="bg-box-purple">
          <th>Name</th>
          <th>Trip</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Transportation</th>
        </tr>
      </thead>
      <tbody aria-relevant="all" aria-live="polite" role="alert">
        <% @reservations.sort { |a, b| a.name + a.surname <=> b.name + b.surname }.each do |reservation| %>
          <tr class="bg-box-color">
            <td style="font-size:17px; width:220px; font-family: blagovest;"><%= "#{reservation.name} #{reservation.surname}" %></td>
            <td style="font-size:16px; font-family: blagovest;"><%= "#{Destination.find(reservation.trip.destination_id).name}: #{Trip.find(reservation.trip).date.strftime('%d-%m-%Y')}" %></td>
            <td style="font-size:17px; font-family: blagovest;"><%= reservation.email %></td>
            <td style="font-size:17px; font-family: courier; font-weight: 800;"><%= reservation.telephone %></td>
            <td style="font-size:16px; font-family: blagovest;"><%= Transportation.find(reservation.transportation_id).description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= button_to 'New Reservation', new_reservation_path, class: "btn btn-primary", method: :get %>
  </div>
</section>
