<%= form_for(@destination) do |f| %>
  <% if @destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this destination from being saved:</h2>
      <ul>
      <% @destination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <br/>
  <div class="actions" style="float: left; display: inline">
    <%= f.submit nil, class: 'btn btn-primary btn-success' %>
  </div>
<% end %>
<%= button_to 'Back', destinations_path, class: "btn btn-info btn-primary", style: "display: inline; margin: -12px 0px 0px 20px;", method: :get %>
