<!DOCTYPE html5>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "application.css" %>
<%= csrf_meta_tag %>
<title>SilviTS</title>
</head>
<body class="skin-blue">
    <aside class="main-sidebar wrapper" style="min-height: 884px;">
      <%= render "layouts/left_sidebar.html" %>
    </aside>
    <div class="content-wrapper">
      <%= yield =%>
    </div>
</body>
</html>
